.flippety {
    width: 100%;
    height: 100%;
}

.floppety {
    width: 100%;
    height: 100%;
}

.rotator {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none;
}

.rotatorContainer {
    overflow: hidden;
}

.rotatorContainer * {
    max-height: 100%;
    max-width: 100%;
}

.displayNone {
    display: none;
}

@keyframes rotation {
    0% {transform: rotate3d(1,1,1, 0deg)}
    50% {transform: rotate3d(1,1,1, 120deg)}
    100% {transform: rotate3d(1,1,1, 360deg)}
}